.nav {
  /*왼쪽 고정*/
  position: fixed;
  top: 0;
  left: 0;
  /*header보다는 낮게*/
  z-index: 1;
}

.nav__wrapper {
  /*크기 지정, 최소 값 적용해 아무리 작아도 어느 정도 유지할 수 있게 하기*/
  min-width: 160px;
  /*최소 높이는 뷰포트 값을 활용하여 스크린 전체 사용하기 위해 100vh*/
  min-height: 100vh;
  background-color: #f8f8f8;
  padding: 80px 0 0 0;
  list-style: none;
}

.nav__wrapper li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px 10px;
  transition: background-color 0.2s ease-in-out;
}

.nav__wrapper li:hover {
  background-color: #eaeaea;
}

.nav__icon {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}
.nav__menu {
  margin: 0 0 0 8px;
  font-size: 1rem;
}

/*800px 이하일 때 네비게이션 항목명 사라지게*/
@media screen and (max-width: 800px) {
  .nav__menu {
    display: none;
  }
  .nav__wrapper {
    /*컨텐츠 크기 만큼만 남도록 최소값 없애기*/
    min-width: 0;
  }
}

/*400px 이하일 때 네비게이션 사라지게*/
@media screen and (max-width: 400px) {
  .nav {
    display: none;
  }
}
